<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Dashboard</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Buatkan saya sebuah tabek dan juga form untuk membuat pelajaran baru dan menampilkan list pelajaran baru -->
    <div class="flex flex-col justify-center items-center h-screen">
      <h1 class="text-4xl font-bold mb-5">Student Dashboard</h1>
      <div
        class="max-w-md mx-auto w-full flex flex-col justify-center items-center mt-5"
      >
        <h1 class="text-4xl font-bold mb-5">List Pelajaran</h1>
        

        <!-- Buatkan saya tabel untuk menampilkan pelajaran dan nilai -->
        <table class="table-auto mt-5 border">
          <thead>
            <tr>
              <th class="px-4 py-2">Pelajaran</th>
              <th class="px-4 py-2">Nilai</th>
            </tr>
          </thead>
          <tbody>
            <!-- LIST MATA PELAJARAN -->
            <% subjects.forEach(function(pelajaran) { %>
            <tr class="">
              <td class="border px-4 py-2"><%= pelajaran.name %></td>
              <td class="border px-4 py-2"><%= pelajaran.grade %></td>
            </tr>
            <% }); %>
          </tbody>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>
